<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Scenario_1</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="aaea95">  <td>19/08/07 22:14:03</td>   <td>0</td> <td>&nbsp;</td><td title="&gt;&gt;Scenario_1.SetupTest()[pri:0, instance:Testcase.Scenario_1@45f45fa1]">&gt;&gt;SetupTest</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1524126153</td>   <td></td> </tr>
<tr bgcolor="fee8e7">  <td>19/08/07 22:14:05</td>   <td>2412</td> <td>&nbsp;</td><td title="&gt;&gt;Scenario_2_view_consultant_result.SetupTest()[pri:0, instance:Testcase.Scenario_2_view_consultant_result@41ee392b]">&gt;&gt;SetupTest</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1524126153</td>   <td></td> </tr>
<tr bgcolor="fee8e7">  <td>19/08/07 22:14:15</td>   <td>11997</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Scenario_2_view_consultant_result.ViewConsultantResultPage()[pri:0, instance:Testcase.Scenario_2_view_consultant_result@41ee392b]">ViewConsultantResultPage</td> 
  <td>main@1524126153</td>   <td></td> </tr>
<tr bgcolor="aaea95">  <td>19/08/07 22:14:07</td>   <td>4404</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Scenario_1.ViewSearchPage()[pri:0, instance:Testcase.Scenario_1@45f45fa1]">ViewSearchPage</td> 
  <td>main@1524126153</td>   <td></td> </tr>
</table>
