<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Default suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="9daf69">  <td>19/08/07 22:13:39</td>   <td>0</td> <td>&nbsp;</td><td title="&gt;&gt;Scenario_1.SetupTest()[pri:0, instance:Testcase.Scenario_1@400cff1a]">&gt;&gt;SetupTest</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1572098393</td>   <td></td> </tr>
<tr bgcolor="9daf69">  <td>19/08/07 22:13:41</td>   <td>2428</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Scenario_1.ViewSearchPage()[pri:0, instance:Testcase.Scenario_1@400cff1a]">ViewSearchPage</td> 
  <td>main@1572098393</td>   <td></td> </tr>
</table>
